.bodyDiv {
  flex-direction: column;
}

.bodyDiv, .rowDiv{
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  /* width: 100vh; */
  height: 100vh;
  padding: 0;
  margin: 0;
}

.bodyDiv div{
  flex: 1 1 0;
  background-color: gray;
  border: 1pt solid black;
  padding: 0;
  margin: 0;
}
