body {
  width: 100vh;
  height: 100vh;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  
}

.bodyDiv {
  flex-direction: column;
  border: 1px solid black;
}

.bodyDiv, .rowDiv{
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  width: 90vh;
  height: 90vh;
  padding: 0;
  margin: 0;
}

.bodyDiv div{
  flex: 1 0 0;
  /* background-color: gray; */
  /* border: 1pt solid black; */
  padding: 0;
  margin: 0;
}

/* Header */
#headerDiv{
  background-color: lightgray;
  height: 10vh;
  width: 90vh;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

.headerBtn{
  height: 50px;
  width: 100px;
  border-radius: 25%;
}